<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12" style="margin-top: 50px; margin-bottom: 50px; text-align: center;">
        <h1>Welcome <%= @user.name %></h1>
        <h3>You have signed up successfully.</h3>
      </div>
    </div>
  </div>
</div><!--