<div class="row" style="padding: 50px;">
  <div class="col-md-8 offset-md-2">

  <% if @to_do_items.count == 0 %>
  <div class="card mb-3" style="width: 100%;">
    <div class="card-body text-center">
      <i class="icon fa fa-info"></i>
      <h4>You haven't created any to-do items in this list.</h4>
      <%= link_to 'Add To-Do-List Item', web_site_new_to_do_item_path(@user.id, @to_do_list.id), class: "btn btn-primary" %>
    </div>
  </div>
  <%else%>
  <div class="card">
    <table class="table">
      <tr>
        <th>Title</th>
        <th></th>
      </tr>
      <% @to_do_items.each do |to_do_item| %>
      <tr>
        <td><%= to_do_item.title %></td>
        <td>
          <%= link_to "Edit", web_site_edit_to_do_item_path(@user.id, @to_do_list.id, to_do_item.id), class: "btn btn-success" %>
        </td>
      </tr>
      <% end %>
    </table>
  </div><!--card-->
  <%end%>

  <div>
    <%= will_paginate @to_do_items %>
  </div>

</div>
</div>